In [26]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib as plt

In [27]:
data = pd.read_csv("data/IDCKMSTM0S.csv", na_values=' ')
data

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
0,unnamed,AU190607_01U,17/1/1907 23:00,T,NaN,1.0,NaN,-13.0,146.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
1,unnamed,AU190607_01U,18/1/1907 23:00,T,NaN,3.0,NaN,-15.0,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
2,unnamed,AU190607_01U,19/1/1907 23:00,T,NaN,2.0,NaN,-14.0,143.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
3,unnamed,AU190607_01U,20/1/1907 23:00,T,NaN,2.0,NaN,-13.5,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
4,unnamed,AU190607_01U,21/1/1907 23:00,T,NaN,4.0,NaN,-15.6,141.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,AU202021_12U,7/2/2021 0:00,D,NaN,NaN,NaN,-30.5,114.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28078,noname,AU202021_12U,7/2/2021 6:00,D,NaN,NaN,NaN,-31.3,115.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28079,noname,AU202021_12U,7/2/2021 12:00,D,NaN,NaN,NaN,-32.6,115.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,noname,AU202021_12U,7/2/2021 18:00,D,NaN,NaN,NaN,-34.0,115.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28081,noname,AU202021_12U,8/2/2021 0:00,D,NaN,NaN,NaN,-35.5,116.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data['TM'] = pd.to_datetime(data['TM'], format='%d/%m/%Y %H:%M')
data_1990 = data.loc[data["TM"] >= "01-01-1990"]
data_1990

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
16374,ROSITA,AU198990_03U,1990-01-04 18:00:00,T,2.0,1.0,20.0,-12.7,111.7,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16375,ROSITA,AU198990_03U,1990-01-05 00:00:00,T,2.0,1.0,20.0,-12.8,110.6,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16376,ROSITA,AU198990_03U,1990-01-05 06:00:00,T,2.0,1.0,20.0,-12.9,109.8,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16377,ROSITA,AU198990_03U,1990-01-05 12:00:00,T,2.0,1.0,20.0,-13.0,108.5,3.0,...,10.0,1.0,106.7,-13.6,NaN,NaN,NaN,NaN,NaN,NaN
16378,ROSITA,AU198990_03U,1990-01-05 18:00:00,T,2.0,1.0,20.0,-13.2,107.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,AU202021_12U,2021-02-07 00:00:00,D,NaN,NaN,NaN,-30.5,114.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28078,noname,AU202021_12U,2021-02-07 06:00:00,D,NaN,NaN,NaN,-31.3,115.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28079,noname,AU202021_12U,2021-02-07 12:00:00,D,NaN,NaN,NaN,-32.6,115.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,noname,AU202021_12U,2021-02-07 18:00:00,D,NaN,NaN,NaN,-34.0,115.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28081,noname,AU202021_12U,2021-02-08 00:00:00,D,NaN,NaN,NaN,-35.5,116.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
data_df = data_1990[["NAME","TM", "TYPE","DATA_SRC", "SURFACE_CODE", "CYC_TYPE", "LAT","LON","CENTRAL_PRES",
           "MAX_WIND_SPD"]]
data_df["NAME"]=data_df["NAME"].apply(lambda x: x.strip().title())
data_df["NAME"]

16374    Rosita
16375    Rosita
16376    Rosita
16377    Rosita
16378    Rosita
          ...
28077    Noname
28078    Noname
28079    Noname
28080    Noname
28081    Noname
Name: NAME, Length: 11708, dtype: object

In [30]:
#Create a copy
df_data = data_df.copy()

In [31]:
data_df = data_df.dropna()
data_df.shape

(8756, 10)

In [32]:
data_df.to_csv("data/Cyclone_1990_clean.csv", sep= ",",header=True, index=False)

## Create a csv file for ML with Wind Direction data

In [33]:
data['TM'] = pd.to_datetime(data['TM'], format='%d/%m/%Y %H:%M')
data

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
0,unnamed,AU190607_01U,1907-01-17 23:00:00,T,NaN,1.0,NaN,-13.0,146.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
1,unnamed,AU190607_01U,1907-01-18 23:00:00,T,NaN,3.0,NaN,-15.0,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
2,unnamed,AU190607_01U,1907-01-19 23:00:00,T,NaN,2.0,NaN,-14.0,143.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
3,unnamed,AU190607_01U,1907-01-20 23:00:00,T,NaN,2.0,NaN,-13.5,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
4,unnamed,AU190607_01U,1907-01-21 23:00:00,T,NaN,4.0,NaN,-15.6,141.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,AU202021_12U,2021-02-07 00:00:00,D,NaN,NaN,NaN,-30.5,114.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28078,noname,AU202021_12U,2021-02-07 06:00:00,D,NaN,NaN,NaN,-31.3,115.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28079,noname,AU202021_12U,2021-02-07 12:00:00,D,NaN,NaN,NaN,-32.6,115.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,noname,AU202021_12U,2021-02-07 18:00:00,D,NaN,NaN,NaN,-34.0,115.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28081,noname,AU202021_12U,2021-02-08 00:00:00,D,NaN,NaN,NaN,-35.5,116.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
data_ml = data[["NAME","TM", "TYPE","DATA_SRC", "SURFACE_CODE", "CYC_TYPE", "LAT","LON","CENTRAL_PRES",
           "MAX_WIND_SPD","MAX_REP_WIND_DIR"]]
data_ml

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR
0,unnamed,1907-01-17 23:00:00,T,NaN,1.0,NaN,-13.0,146.5,994.0,NaN,NaN
1,unnamed,1907-01-18 23:00:00,T,NaN,3.0,NaN,-15.0,145.0,993.0,NaN,NaN
2,unnamed,1907-01-19 23:00:00,T,NaN,2.0,NaN,-14.0,143.0,993.0,NaN,NaN
3,unnamed,1907-01-20 23:00:00,T,NaN,2.0,NaN,-13.5,142.0,993.0,NaN,NaN
4,unnamed,1907-01-21 23:00:00,T,NaN,4.0,NaN,-15.6,141.5,998.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,2021-02-07 00:00:00,D,NaN,NaN,NaN,-30.5,114.6,991.0,15.4,NaN
28078,noname,2021-02-07 06:00:00,D,NaN,NaN,NaN,-31.3,115.1,992.0,15.4,NaN
28079,noname,2021-02-07 12:00:00,D,NaN,NaN,NaN,-32.6,115.8,993.0,15.4,NaN
28080,noname,2021-02-07 18:00:00,D,NaN,NaN,NaN,-34.0,115.9,993.0,15.4,NaN
28081,noname,2021-02-08 00:00:00,D,NaN,NaN,NaN,-35.5,116.2,993.0,15.4,NaN

In [35]:
data_ml.isna().sum()

NAME                    2
TM                      2
TYPE                    2
DATA_SRC             8947
SURFACE_CODE         2077
CYC_TYPE             9719
LAT                     2
LON                     2
CENTRAL_PRES         2621
MAX_WIND_SPD         8474
MAX_REP_WIND_DIR    23871
dtype: int64

In [36]:
data_ml = data_ml.dropna()
data_ml.shape

(1691, 11)

In [37]:
data_ml["NAME"]=data_ml["NAME"].apply(lambda x: x.strip().title())
data_ml

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR
8141,Annie,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0
8143,Annie,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0
8147,Annie,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0
8149,Annie,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0
8151,Annie,1973-11-23 12:00:00,T,2.0,1.0,20.0,-11.20,95.00,1002.0,12.9,250.0
...,...,...,...,...,...,...,...,...,...,...,...
22873,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0
24421,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0
24426,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0
24429,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0
24438,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0

In [38]:
#Group wind direction in to compass directions

data_ml["WIND_COMPASS"] = data_ml["MAX_REP_WIND_DIR"].apply(
    lambda x :'N' if (x >= 0 and x < 22.5) else (
            'NE' if (x >= 22.5 and x < 67.5) else (
            'E' if (x >= 67.5 and x < 112.5) else (
            'SE' if (x >= 112.5 and x < 157.5) else (
            'S' if (x >= 157.5 and x < 202.5) else (
            'SW' if (x >= 202.5 and x < 247.5) else (
            'W' if (x >= 247.5 and x < 292.5) else (
            'NW' if (x >= 292.5 and x < 337.5) else 'N'))))))))

data_ml.tail(10)

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS
22633,Larry,2006-03-19 18:00:00,T,4.0,1.0,40.0,-17.50,146.80,935.0,51.4,190.0,S
22717,Hubert,2006-04-06 12:00:00,T,2.0,1.0,30.0,-18.80,115.30,980.0,25.7,110.0,E
22719,Hubert,2006-04-07 00:00:00,T,2.0,1.0,30.0,-20.00,114.90,980.0,25.7,70.0,E
22870,George,2007-03-04 00:00:00,T,3.0,1.0,30.0,-14.60,128.50,982.0,25.7,240.0,SW
22871,George,2007-03-04 06:00:00,T,3.0,3.0,30.0,-14.40,127.90,986.0,20.6,270.0,W
22873,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W
24421,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N
24426,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW
24429,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW
24438,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW

In [39]:
data_ml["V60"] = 3.45*(1010 - (data_ml.CENTRAL_PRES))**0.644
data_ml["CENTRAL_INDEX (CI)"] = (0.186*data_ml.V60)**0.746
data_ml["WAVE_HEIGHT"] = (0.235*data_ml.V60)
data_ml

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,V60,CENTRAL_INDEX (CI),WAVE_HEIGHT
8141,Annie,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,14.202058,2.064005,3.337484
8143,Annie,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,13.164642,1.950454,3.093691
8147,Annie,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,12.079869,1.829259,2.838769
8149,Annie,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,15.199143,2.171169,3.571799
8151,Annie,1973-11-23 12:00:00,T,2.0,1.0,20.0,-11.20,95.00,1002.0,12.9,250.0,W,13.164642,1.950454,3.093691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22873,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,26.710077,3.306407,6.276868
24421,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,16.161289,2.272897,3.797903
24426,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,21.390858,2.801605,5.026852
24429,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,19.734306,2.638106,4.637562
24438,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,20.571803,2.721184,4.834374

In [42]:
data_ml.drop(columns=["V60"], inplace=True)
data_ml

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI),WAVE_HEIGHT
8141,Annie,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,2.064005,3.337484
8143,Annie,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,1.950454,3.093691
8147,Annie,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,1.829259,2.838769
8149,Annie,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,2.171169,3.571799
8151,Annie,1973-11-23 12:00:00,T,2.0,1.0,20.0,-11.20,95.00,1002.0,12.9,250.0,W,1.950454,3.093691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22873,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,3.306407,6.276868
24421,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,2.272897,3.797903
24426,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605,5.026852
24429,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,2.638106,4.637562
24438,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,2.721184,4.834374

In [43]:
# Export data for ML Model
data_ml.to_csv("data/Cyclone_ML.csv", sep= ",",header=True, index=False)

In [44]:
data_ml

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI),WAVE_HEIGHT
8141,Annie,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,2.064005,3.337484
8143,Annie,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,1.950454,3.093691
8147,Annie,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,1.829259,2.838769
8149,Annie,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,2.171169,3.571799
8151,Annie,1973-11-23 12:00:00,T,2.0,1.0,20.0,-11.20,95.00,1002.0,12.9,250.0,W,1.950454,3.093691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22873,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,3.306407,6.276868
24421,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,2.272897,3.797903
24426,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605,5.026852
24429,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,2.638106,4.637562
24438,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,2.721184,4.834374

In [88]:
cyclone_names = data_df[["NAME", "CYC_TYPE"]]
cyclone_names
cyclone_names["NAME"]=cyclone_names["NAME"].apply(lambda x: x.strip().title())
cyclone_names

         NAME  CYC_TYPE
16374  Rosita      20.0
16375  Rosita      20.0
16376  Rosita      20.0
16377  Rosita      20.0
16378  Rosita      20.0
...       ...       ...
28077  Noname       NaN
28078  Noname       NaN
28079  Noname       NaN
28080  Noname       NaN
28081  Noname       NaN

[11708 rows x 2 columns]

In [89]:
test_string = "Emma-Kate"
test_output = test_string.title()
test_output

'Emma-Kate'