In [25]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib as plt
import datetime as dt

In [116]:
data = pd.read_csv("Data/IDCKMSTM0S.csv", na_values=' ')
data

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
0,unnamed,AU190607_01U,17/1/1907 23:00,T,NaN,1.0,NaN,-13.0,146.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
1,unnamed,AU190607_01U,18/1/1907 23:00,T,NaN,3.0,NaN,-15.0,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
2,unnamed,AU190607_01U,19/1/1907 23:00,T,NaN,2.0,NaN,-14.0,143.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
3,unnamed,AU190607_01U,20/1/1907 23:00,T,NaN,2.0,NaN,-13.5,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
4,unnamed,AU190607_01U,21/1/1907 23:00,T,NaN,4.0,NaN,-15.6,141.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,AU202021_12U,7/2/2021 0:00,D,NaN,NaN,NaN,-30.5,114.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28078,noname,AU202021_12U,7/2/2021 6:00,D,NaN,NaN,NaN,-31.3,115.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28079,noname,AU202021_12U,7/2/2021 12:00,D,NaN,NaN,NaN,-32.6,115.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,noname,AU202021_12U,7/2/2021 18:00,D,NaN,NaN,NaN,-34.0,115.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28081,noname,AU202021_12U,8/2/2021 0:00,D,NaN,NaN,NaN,-35.5,116.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
data['TM'] = pd.to_datetime(data['TM'], format='%d/%m/%Y %H:%M')
data_1990 = data.loc[data["TM"] > "01-01-1990"]
data_1990.shape

(11708, 79)

In [118]:
data_df = data_1990[["NAME","TM", "TYPE","DATA_SRC", "SURFACE_CODE", "CYC_TYPE", "LAT","LON","CENTRAL_PRES",
           "MAX_WIND_SPD"]]
data_df

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD
16374,ROSITA,1990-01-04 18:00:00,T,2.0,1.0,20.0,-12.7,111.7,1004.0,12.9
16375,ROSITA,1990-01-05 00:00:00,T,2.0,1.0,20.0,-12.8,110.6,1004.0,12.9
16376,ROSITA,1990-01-05 06:00:00,T,2.0,1.0,20.0,-12.9,109.8,1002.0,12.9
16377,ROSITA,1990-01-05 12:00:00,T,2.0,1.0,20.0,-13.0,108.5,1001.0,12.9
16378,ROSITA,1990-01-05 18:00:00,T,2.0,1.0,20.0,-13.2,107.0,1001.0,12.9
...,...,...,...,...,...,...,...,...,...,...
28077,noname,2021-02-07 00:00:00,D,NaN,NaN,NaN,-30.5,114.6,991.0,15.4
28078,noname,2021-02-07 06:00:00,D,NaN,NaN,NaN,-31.3,115.1,992.0,15.4
28079,noname,2021-02-07 12:00:00,D,NaN,NaN,NaN,-32.6,115.8,993.0,15.4
28080,noname,2021-02-07 18:00:00,D,NaN,NaN,NaN,-34.0,115.9,993.0,15.4
28081,noname,2021-02-08 00:00:00,D,NaN,NaN,NaN,-35.5,116.2,993.0,15.4

In [119]:
data_df.isna().sum()

NAME               0
TM                 0
TYPE               0
DATA_SRC        1677
SURFACE_CODE    1609
CYC_TYPE        2066
LAT                0
LON                0
CENTRAL_PRES     942
MAX_WIND_SPD     988
dtype: int64

In [120]:
#Create a copy
df_data = data_df.copy()

In [121]:
data_df = data_df.dropna()
data_df.shape

(8756, 10)

In [122]:
data_df.to_csv("Cyclone_1990_clean.csv", sep= ",",header=True, index=False)

## Create a csv file for ML with Wind Direction data

In [124]:
data['TM'] = pd.to_datetime(data['TM'], format='%d/%m/%Y %H:%M')
data

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
0,unnamed,AU190607_01U,1907-01-17 23:00:00,T,NaN,1.0,NaN,-13.0,146.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
1,unnamed,AU190607_01U,1907-01-18 23:00:00,T,NaN,3.0,NaN,-15.0,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
2,unnamed,AU190607_01U,1907-01-19 23:00:00,T,NaN,2.0,NaN,-14.0,143.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
3,unnamed,AU190607_01U,1907-01-20 23:00:00,T,NaN,2.0,NaN,-13.5,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
4,unnamed,AU190607_01U,1907-01-21 23:00:00,T,NaN,4.0,NaN,-15.6,141.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,AU202021_12U,2021-02-07 00:00:00,D,NaN,NaN,NaN,-30.5,114.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28078,noname,AU202021_12U,2021-02-07 06:00:00,D,NaN,NaN,NaN,-31.3,115.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28079,noname,AU202021_12U,2021-02-07 12:00:00,D,NaN,NaN,NaN,-32.6,115.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,noname,AU202021_12U,2021-02-07 18:00:00,D,NaN,NaN,NaN,-34.0,115.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28081,noname,AU202021_12U,2021-02-08 00:00:00,D,NaN,NaN,NaN,-35.5,116.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
data_ml = data[["NAME","TM", "TYPE","DATA_SRC", "SURFACE_CODE", "CYC_TYPE", "LAT","LON","CENTRAL_PRES",
           "MAX_WIND_SPD","MAX_REP_WIND_DIR"]]
data_ml

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR
0,unnamed,1907-01-17 23:00:00,T,NaN,1.0,NaN,-13.0,146.5,994.0,NaN,NaN
1,unnamed,1907-01-18 23:00:00,T,NaN,3.0,NaN,-15.0,145.0,993.0,NaN,NaN
2,unnamed,1907-01-19 23:00:00,T,NaN,2.0,NaN,-14.0,143.0,993.0,NaN,NaN
3,unnamed,1907-01-20 23:00:00,T,NaN,2.0,NaN,-13.5,142.0,993.0,NaN,NaN
4,unnamed,1907-01-21 23:00:00,T,NaN,4.0,NaN,-15.6,141.5,998.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,2021-02-07 00:00:00,D,NaN,NaN,NaN,-30.5,114.6,991.0,15.4,NaN
28078,noname,2021-02-07 06:00:00,D,NaN,NaN,NaN,-31.3,115.1,992.0,15.4,NaN
28079,noname,2021-02-07 12:00:00,D,NaN,NaN,NaN,-32.6,115.8,993.0,15.4,NaN
28080,noname,2021-02-07 18:00:00,D,NaN,NaN,NaN,-34.0,115.9,993.0,15.4,NaN
28081,noname,2021-02-08 00:00:00,D,NaN,NaN,NaN,-35.5,116.2,993.0,15.4,NaN

In [127]:
data_ml.isna().sum()

NAME                    2
TM                      2
TYPE                    2
DATA_SRC             8947
SURFACE_CODE         2077
CYC_TYPE             9719
LAT                     2
LON                     2
CENTRAL_PRES         2621
MAX_WIND_SPD         8474
MAX_REP_WIND_DIR    23871
dtype: int64

In [128]:
data_ml = data_ml.dropna()
data_ml.shape

(1691, 11)

In [131]:
data_ml.to_csv("Cyclone_ML.csv", sep= ",",header=True, index=False)

In [138]:
#Group wind direction in to compass directions

data_ml["WIND_COMPASS"] = data_ml["MAX_REP_WIND_DIR"].apply(
    lambda x :'N' if (x >= 0 and x < 22.5) else (
            'NE' if (x >= 22.5 and x < 67.5) else (
            'E' if (x >= 67.5 and x < 112.5) else (
            'SE' if (x >= 112.5 and x < 157.5) else (
            'S' if (x >= 157.5 and x < 202.5) else (
            'SW' if (x >= 202.5 and x < 247.5) else (
            'W' if (x >= 247.5 and x < 292.5) else (
            'NW' if (x >= 292.5 and x < 337.5) else 'N'))))))))

data_ml.head(20)

/Users/stephenmilton/opt/anaconda3/envs/PyBank3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS
8141,ANNIE,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.0,92.6,1001.0,12.9,100.0,E
8143,ANNIE,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.1,93.1,1002.0,12.9,110.0,E
8147,ANNIE,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.1,94.2,1003.0,12.9,160.0,S
8149,ANNIE,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.1,94.6,1000.0,12.9,210.0,SW
8151,ANNIE,1973-11-23 12:00:00,T,2.0,1.0,20.0,-11.2,95.0,1002.0,12.9,250.0,W
8155,ANNIE,1973-11-24 00:01:00,T,2.0,1.0,20.0,-11.5,95.7,1003.0,12.9,80.0,E
8157,ANNIE,1973-11-24 06:00:00,T,2.0,1.0,20.0,-11.6,96.0,999.0,12.9,30.0,NE
8159,ANNIE,1973-11-24 12:00:00,T,2.0,1.0,20.0,-11.7,96.3,998.0,15.4,30.0,NE
8163,ANNIE,1973-11-25 00:01:00,T,2.0,1.0,30.0,-12.1,96.7,994.0,23.2,330.0,NW
8165,ANNIE,1973-11-25 06:00:00,T,2.0,1.0,30.0,-12.2,96.9,994.0,25.7,300.0,NW
8167,ANNIE,1973-11-25 12:00:00,T,2.0,1.0,30.0,-12.4,97.1,994.0,23.2,280.0,W
8169,ANNIE,1973-11-25 18:00:00,T,2.0,1.0,30.0,-12.6,97.3,994.0,23.2,280.0,W
8171,ANNIE,1973-11-26 00:01:00,T,2.0,1.0,30.0,-12.7,97.5,994.0,20.6,260.0,W
8173,ANNIE,1973-11-26 06:00:00,T,2.0,1.0,30.0,-12.7,97.9,994.0,20.6,260.0,W
8175,ANNIE,1973-11-26 12:00:00,T,2.0,1.0,30.0,-12.5,98.3,994.0,20.6,240.0,SW
8179,ANNIE,1973-11-27 00:01:00,T,2.0,1.0,30.0,-12.0,99.1,994.0,20.6,200.0,S
8181,ANNIE,1973-11-27 06:00:00,T,2.0,1.0,30.0,-11.8,99.5,994.0,20.6,180.0,S
8183,ANNIE,1973-11-27 12:00:00,T,2.0,1.0,30.0,-11.6,100.0,994.0,20.6,140.0,SE
8187,ANNIE,1973-11-28 00:01:00,T,2.0,1.0,30.0,-11.5,101.3,994.0,20.6,190.0,S
8189,ANNIE,1973-11-28 06:00:00,T,2.0,1.0,30.0,-12.0,101.8,991.0,20.6,190.0,S

In [ ]:
lambda x : return Value1 if condition1 (
    return value2 if condition2 ( 
        return value3 if condition3 else return value4))
age_group['age_grp_lambda4grp'] = age_group['age'].apply(
    lambda x : 'young age'  if (x < 35) else (
               'middle age' if (x < 60) else (
               'senior age' if (x < 75) else 'old age')))
age_group.head(10)

In [133]:
data_ml

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS
8141,ANNIE,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,NE
8143,ANNIE,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,NE
8147,ANNIE,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,NE
8149,ANNIE,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,NE
8151,ANNIE,1973-11-23 12:00:00,T,2.0,1.0,20.0,-11.20,95.00,1002.0,12.9,250.0,NE
...,...,...,...,...,...,...,...,...,...,...,...,...
22873,GEORGE,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,NE
24421,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,NE
24426,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,NE
24429,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,NE
24438,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,NE