In [25]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib as plt
import datetime as dt

In [79]:
data = pd.read_csv("Data/IDCKMSTM0S.csv", na_values=' ')
data

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
0,unnamed,AU190607_01U,17/1/1907 23:00,T,NaN,1.0,NaN,-13.0,146.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
1,unnamed,AU190607_01U,18/1/1907 23:00,T,NaN,3.0,NaN,-15.0,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
2,unnamed,AU190607_01U,19/1/1907 23:00,T,NaN,2.0,NaN,-14.0,143.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
3,unnamed,AU190607_01U,20/1/1907 23:00,T,NaN,2.0,NaN,-13.5,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
4,unnamed,AU190607_01U,21/1/1907 23:00,T,NaN,4.0,NaN,-15.6,141.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28077,noname,AU202021_12U,7/2/2021 0:00,D,NaN,NaN,NaN,-30.5,114.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28078,noname,AU202021_12U,7/2/2021 6:00,D,NaN,NaN,NaN,-31.3,115.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28079,noname,AU202021_12U,7/2/2021 12:00,D,NaN,NaN,NaN,-32.6,115.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,noname,AU202021_12U,7/2/2021 18:00,D,NaN,NaN,NaN,-34.0,115.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28081,noname,AU202021_12U,8/2/2021 0:00,D,NaN,NaN,NaN,-35.5,116.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
data['TM'] = pd.to_datetime(data['TM'], format='%d/%m/%Y %H:%M')
data_1990 = data.loc[data["TM"] > "01-01-1990"]
data_1990.shape

(11708, 79)

In [83]:
data_df = data_1990[["NAME","TM", "TYPE","DATA_SRC", "SURFACE_CODE", "CYC_TYPE", "LAT","LON","CENTRAL_PRES",
           "MAX_WIND_SPD"]]
data_df

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD
16374,ROSITA,1990-01-04 18:00:00,T,2.0,1.0,20.0,-12.7,111.7,1004.0,12.9
16375,ROSITA,1990-01-05 00:00:00,T,2.0,1.0,20.0,-12.8,110.6,1004.0,12.9
16376,ROSITA,1990-01-05 06:00:00,T,2.0,1.0,20.0,-12.9,109.8,1002.0,12.9
16377,ROSITA,1990-01-05 12:00:00,T,2.0,1.0,20.0,-13.0,108.5,1001.0,12.9
16378,ROSITA,1990-01-05 18:00:00,T,2.0,1.0,20.0,-13.2,107.0,1001.0,12.9
...,...,...,...,...,...,...,...,...,...,...
28077,noname,2021-02-07 00:00:00,D,NaN,NaN,NaN,-30.5,114.6,991.0,15.4
28078,noname,2021-02-07 06:00:00,D,NaN,NaN,NaN,-31.3,115.1,992.0,15.4
28079,noname,2021-02-07 12:00:00,D,NaN,NaN,NaN,-32.6,115.8,993.0,15.4
28080,noname,2021-02-07 18:00:00,D,NaN,NaN,NaN,-34.0,115.9,993.0,15.4
28081,noname,2021-02-08 00:00:00,D,NaN,NaN,NaN,-35.5,116.2,993.0,15.4

In [84]:
data_df.isna().sum()

NAME               0
TM                 0
TYPE               0
DATA_SRC        1677
SURFACE_CODE    1609
CYC_TYPE        2066
LAT                0
LON                0
CENTRAL_PRES     942
MAX_WIND_SPD     988
dtype: int64

In [85]:
#Create a copy
df_data = data_df.copy()

In [86]:
data_df = data_df.dropna()
data_df.shape

(8756, 10)

In [87]:
data_df.to_csv("Cyclone_1990_clean.csv", sep= ",",header=True, index=False)

NAME            0
TM              0
TYPE            0
DATA_SRC        0
SURFACE_CODE    0
CYC_TYPE        0
LAT             0
LON             0
CENTRAL_PRES    0
MAX_WIND_SPD    0
dtype: int64

In [9]:
#Create a copy
df_data = data_df.copy()

In [10]:
data_df = data_df.dropna()
data_df

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD
7435,JEAN,10/1/1973 1:00,T,2.0,1.0,20.0,-12.0,115.0,1005.0,10.3
7436,JEAN,10/1/1973 4:00,T,2.0,1.0,20.0,-12.2,115.0,1004.0,12.9
7437,JEAN,10/1/1973 7:00,T,2.0,1.0,20.0,-12.5,115.0,1003.0,12.9
7438,JEAN,10/1/1973 10:00,T,2.0,1.0,20.0,-12.9,115.0,1002.0,12.9
7439,JEAN,10/1/1973 13:00,T,2.0,1.0,20.0,-13.1,115.0,1002.0,12.9
...,...,...,...,...,...,...,...,...,...,...
28028,noname,26/1/2021 18:00,L,2.0,1.0,21.0,-19.2,93.2,998.0,18.0
28029,noname,27/1/2021 0:00,L,2.0,1.0,21.0,-19.2,92.1,998.0,18.0
28030,noname,27/1/2021 6:00,L,2.0,1.0,21.0,-19.4,91.3,998.0,18.0
28031,noname,27/1/2021 12:00,L,2.0,1.0,21.0,-19.4,90.4,998.0,18.0
28032,noname,27/1/2021 18:00,L,2.0,1.0,21.0,-19.2,89.0,998.0,18.0

In [18]:
data_df["CENTRAL_PRES"].min()

900.0