In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
import joblib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
    # Read data into DataFrame from CSV file
    cyclone_df = pd.read_csv("Cyclone_ML.csv")

    # Select features for machine learning and assign to X
    selected_features = cyclone_df[["SURFACE_CODE",	"CYC_TYPE", "LAT", "LON", "CENTRAL_PRES", "MAX_WIND_SPD"]]
    X = selected_features

    # Set y to compass direction of cyclone based on wind direction degree
    y = cyclone_df["WIND_COMPASS"]

    print(X.shape, y.shape)

(1691, 6) (1691,)

In [19]:
X

      SURFACE_CODE  CYC_TYPE    LAT     LON  CENTRAL_PRES  MAX_WIND_SPD
0              1.0      20.0 -11.00   92.60        1001.0          12.9
1              1.0      20.0 -11.10   93.10        1002.0          12.9
2              1.0      20.0 -11.10   94.20        1003.0          12.9
3              1.0      20.0 -11.10   94.60        1000.0          12.9
4              1.0      20.0 -11.20   95.00        1002.0          12.9
...            ...       ...    ...     ...           ...           ...
1686           2.0      30.0 -14.30  126.40         986.0          20.6
1687           4.0      21.0 -12.73  130.61         999.0          20.6
1688           2.0      30.0 -12.54  130.72         993.0          18.0
1689           2.0      30.0 -12.41  130.99         995.0          18.0
1690           2.0      30.0 -12.54  130.98         994.0          20.6

[1691 rows x 6 columns]

In [20]:
y

0        E
1        E
2        S
3       SW
4        W
        ..
1686     W
1687     N
1688    SW
1689    SW
1690    SW
Name: WIND_COMPASS, Length: 1691, dtype: object

In [26]:
    # train test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [27]:
    X_scaler = StandardScaler().fit(X_train)
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)

In [28]:
    # Support vector machine linear classifier
    model = SVC(kernel='linear')

    # Fit the model to the training data and calculate the scores for the training and testing data
    model.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [29]:
    training_score = model.score(X_train_scaled, y_train)
    testing_score = model.score(X_test_scaled, y_test)
    
    print(f"Training Data Score: {training_score}")
    print(f"Testing Data Score: {testing_score}")

Training Data Score: 0.22634069400630916
Testing Data Score: 0.2033096926713948

In [30]:
    preds = model.predict(X_test_scaled)
    acc = accuracy_score(y_test, preds)
    print(f'Model accuracy on test set: {acc:.2f}')

Model accuracy on test set: 0.20